.main-table {
  table {
    font-size: 13px;
    width: 100%;
    col.first_name {
      // width: 8%;
    }
    col.last_name {
      // width: 8%;
    }
    col.company_name {
      // width: 12%;
    }
    col.city {
    }
    col.state {
      // width: 5%;
    }
    col.zip {
      // width: 5%;
    }
    col.email {
    }
    col.web {
    }
    col.age {
    }

    th,
    td {
      border: 2px solid #4e8bc991;
      padding: 5px;
      height: 40px;
    }
    th {
      background: #cbcbcb;
      cursor: pointer;
    }

    tbody {
      tr:nth-child(even) {
        background: #ebeaeb;
      }
      tr {
        border-bottom: 1px solid #eee;
        cursor: pointer;
        &:hover {
          background: #4e8bc93b;
        }
        a {
          color: #4e8bc9;
        }
      }
    }
  }

  .sort-direction {
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    &.asc {
      border-bottom: 5px solid black;
    }

    &.desc {
      border-top: 5px solid black;
    }
  }
}
